body {
    font-family: sans-serif;
    background-color: #f0f0f5;
    color: black;
    padding: 40px;
}

h1 {
    text-align: center;
}


form {
    border: 1px solid white;
    border-radius: 10px;
    height: 350px;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 5px 10px rgba(0,0,0, 0.13);
    background-color: white;

}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.login-button{
    background-color: #007aff;
    color: white;
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: fit-content;
    align-self: center;
}

.login-button {
    background-color: #005ecb;
}

.signup, a{
    text-decoration: none;
    text-align: center;
}