body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e5e5f4;
    color: #1c1c1e;
    padding: 35px;
}

.title{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
    text-align: center;
}

.table-container{
margin: 0 auto;
background: white;
border-radius: 10px;
max-width: 1000px;
box-shadow: 0 5px 10px rgba(0,0,0, 0.13);
}
