body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #1c1c1e;
    padding: 0;
    background-color: #f0f0f5;
}

.name {
  font-family: "Sedgwick Ave", cursive;
  font-size: xx-large;
  color: #007aff;
  font-weight: 900;
  font-size: 98px;
}

.text-center{
    padding-top: 100px;
}

.display-4{
    font-weight: bold;
}
.lead{
    font-weight: bold;
}