body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #1c1c1e;
    padding: 0;
    background-color: #f0f0f5;
    align-content: center;
}

.name {
  font-family: "Sedgwick Ave", cursive;
  color: #007aff;
  font-weight: 900;
}

.text-center{
    padding-top: 100px;
}

.welcome{
    font-weight: bold;
    font-size: 45px;
}
.lead{
    font-weight: bold;
    font-size: 50px;
    margin-top: 90px;
}
.name span {
    font-size: 140px;
}

.name h1 {
    font-size: 120px;
}

.lead span {
    color: #007aff;
}