{% extends "base.html" %}
{% load static %}
{% block head %}
<link href='{%static 'css/welcome.css'%}' rel="stylesheet">
<style>
  @import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave&display=swap');

</style>
{% endblock head %}


{% block content %}
<body class="d-flex vh-100 align-items-center justify-content-center bg-light">
  <div class="text-center">
    <h3 class="welcome">Welcome to</h3>
    <div class='name'>
      <h1><span>$</span>TONKS</h1>
    </div>
    <p class="lead">Track your stocks <span>easily</span> and <span>efficiently</span>.</p>
  </div>
</body>
{% endblock %} 