{% extends "base.html" %}
{% comment %} somehow removing the base extension works. what the heck. {% endcomment %}

{%load static%}

{% block head %}
<link href='{%static 'css/portfolio.css'%}' rel="stylesheet">

{% endblock %}
{% block content %}
<div class='container'>
    <h1 class='title'>Your Stock Portfolio</h1>
    <div class='table-container'>
        <table class = 'ugly-table'>
            <tr>
                <th>Stock name</th>
                <th>Ticker</th>
                <th>Amount owned</th>
                <th>Purchase date</th>
                <th>Purchase price</th>
                <th>Current price</th>
                <th>Total Earnings per stock</th>
            </tr>

            {%for stock in stocks%}
            <tr>
                <td><a href="{%url 'stock_details' stock.id%}">{{stock.name}}</a></td>
                <td><a href="{%url 'stock_details' stock.id%}">{{stock.ticker}}</a></td>
                <td><a href="{%url 'stock_details' stock.id%}">{{stock.amount}}</a></td>
                <td><a href="{%url 'stock_details' stock.id%}">{{stock.purchase_date}}</a></td>
                <td><a href="{%url 'stock_details' stock.id%}">${{stock.purchase_price}}</a></td>
                <td><a href="{%url 'stock_details' stock.id%}">${{stock.current_price}}</a></td>
                <td><a href="{%url 'stock_details' stock.id%}">${{stock.total_earning}}</a></td>
            </tr>
            {%endfor%}
        </table>
    </div>
        <div class='table-container total-table-cont'>
                    <table class='total-table'>
                <tr>
                    <th>Total portfolio Earnings</th>
                </tr>
                <tr>
                    <td class='total'>${{total}}</td>
                </tr>
            </table>
        </div>
        <div class="create-btn">
            <button class='create-button'><a href="/stocks/create/">List new stock</a></button>
        </div>
{% endblock %} 













{% comment %} safely keeping my working code here in ccase shit hits the fan (i hope not).

list.html
{%load static%}

{% block head %}
<link href='{%static 'css/portfolio.css'%}' rel="stylesheet">

{% endblock %}
{% block content %}
    <h1>Your Stock Portfolio</h1>
    {%for stock in stocks%}
        <tabl>
            <a href="{%url 'stock_details' stock.id%}">{{stock.name}}, {{stock.amount}}</a>
        </tabl>
    {%endfor%}
{% endblock %}  {% endcomment %}